body {
  height: 700px;
}

main {
  color: #ce9797;
  font-family: "Josefin Sans";
  width: 95%;
  text-align: center;
  margin: auto;
}

main h1 {
  font-size: 35px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

main strong {
  line-height: 1.5;
}

header img {
  margin: 10px 0;
}

#logo {
  width: 100px;
  height: 20px;
  margin-left: 40px;
}

footer {
  position: relative;
  margin-top: 20px;
}

button {
  position: absolute;
  right: 10px;
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  width: 70px;
  height: 50px;
  border-radius: 30px;
  outline: none;
  border: none;
}

#error-mess {
  display: none;
  position: absolute;
  right: 100px;
  width: 30px;
  height: 30px;
  top: 10px;
}

#error-noti {
  display: none;
  color: red;
  margin: 0 10px;
}

input {
  height: 45px;
  border-radius: 20px;
  width: 90%;
  border: 1px solid #413a3a;
  opacity: 0.5;
  padding: 0 10px;
  outline: none;
  color: #ce9797;
}

@media screen and (min-width: 760px) {
  header {
    width: 100%;
    height: 100%;
  }
  header img {
    display: inline-block;
  }
  header #image-right {
    float: right;
    width: 50%;
    height: 100%;
  }
  header #logo {
    width: 200px;
    height: 50px;
    margin: 50px 100px;
  }
  main {
    position: absolute;
    top: 200px;
    left: 0;
    width: 30%;
    left: 100px;
    text-align: left;
  }
  main h1 {
    font-size: 50px;
  }
  footer {
    postion: absolute;
    bottom: 120px;
    left: 100px;
    width: 30%;
  }
}
